// system bg

$bg-body: url(media/bg-body.jpg);
$bg-header: url(media/bg-header.jpg);
$bg-presentation: url(media/bg-presentation.jpg);
$bg-contact: url(media/bg-contact.jpg);

body{
    background-image: $bg-body;
}

header{
    background-image: $bg-header;
}

.bg-presentation{
    background-image: $bg-presentation;
}

.bg-contact{
    background-image: $bg-contact;
}