body {
  background-image: url(../media/bg-body.jpg);
}

header {
  background-image: url(../media/bg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
}

.bg-service-1 {
  background-image: url(../media/img-service1.jpg);
  background-size: cover;
  background-position: center;
}

.bg-service-2 {
  background-image: url(../media/img-service2.jpg);
  background-size: cover;
  background-position: center;
}

.bg-service-3 {
  background-image: url(../media/img-service3.jpg);
  background-size: cover;
  background-position: center;
}

.bg-service-4 {
  background-image: url(../media/img-service4.jpg);
  background-size: cover;
  background-position: center;
}

.bg-service-5 {
  background-image: url(../media/img-service5.jpg);
  background-size: cover;
  background-position: center;
}

.bg-service-6 {
  background-image: url(../media/img-service6.jpg);
  background-size: cover;
  background-position: center;
}

.bg-contact {
  background-image: url(../media/bg-contact.jpg);
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "Montserrat Medium, Monserrat Regular";
  src: url(../police/Montserrat-Medium.ttf);
  src: url(../police/Montserrat-Regular.ttf);
}
header .container-fluid {
  height: 40px;
}
header .container-fluid nav button:focus {
  outline: 1px;
}

.navbar {
  position: absolute;
  width: 96%;
}

body header {
  font-family: "Montserrat Medium";
}
body header nav li .nav-link:hover {
  color: #90a9b1 !important;
}
body header .blockquote-size {
  font-size: 80px;
  font-family: "Montserrat Regular";
  line-height: 5rem;
}
body header .color-love {
  font-size: 80px;
  font-family: "Montserrat Regular";
  color: #df1958;
}
body header span {
  color: black;
}
body header .p-line-height {
  line-height: 2rem;
}
body header .arrow {
  height: 210px;
}

#scroll-button p {
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

#scroll-button p {
  padding-top: 70px;
}

#scroll-button p span {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
header .container-fluid nav img {
  width: 57px;
  height: 52px;
}
header .container-fluid nav button:focus {
  outline: 1px;
}

.container-fluid .carousel-inner .img-fluid {
  max-height: 368px;
}
.container-fluid .carousel-indicators li {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 1px solid #000;
}
.container-fluid .carousel-indicators li.active {
  border: 1px solid #000;
  background-color: #000;
}

.bg-black {
  background-color: #000;
}

.bg-img {
  background-color: white;
  -webkit-box-shadow: -36px -36px 0px 0px #F861B4;
  -moz-box-shadow: -36px -36px 0px 0px #F861B4;
  box-shadow: -36px -36px 0px 0px #F861B4;
}

.pink {
  color: #DF3F7B;
}

.bg-black #ancre_pre .btn {
  border: none;
}
.bg-black #ancre_pre .btn:hover {
  border: none;
}
.bg-black #ancre_pre .btn:active {
  border: none;
  background-color: none;
  box-shadow: none;
}
.bg-black #ancre_pre .btn:focus {
  border: none;
  background-color: none;
  box-shadow: none;
}
.bg-black #ancre_pre .btn-primary:active {
  background-color: #DF3F7B;
  color: black;
}

.bg-service-1, .bg-service-2, .bg-service-3, .bg-service-4, .bg-service-5, .bg-service-6 {
  background-size: cover;
  background-position: center;
  min-height: 350px;
  max-width: 49%;
}

.service .w-50 {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
}

#mapid {
  height: 380px;
}

.contact {
  min-height: 400px;
  color: white;
  border-left: 5px solid #DF3F7B;
  background-color: #3a3a3a;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contact .jour {
  width: 150px;
  text-transform: capitalize;
}

footer p {
  margin: 0;
}
footer .logo {
  width: 25px;
  height: auto;
}
footer .logo-txt {
  width: 55px;
  height: auto;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .blockquote-size {
    font-size: 60px !important;
  }

  .color-love {
    font-size: 60px !important;
  }

  .h5 {
    font-size: 18px;
  }

  .contact .jour {
    width: 110px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .blockquote-size {
    font-size: 70px !important;
  }

  .color-love {
    font-size: 70px !important;
  }

  .h5 {
    font-size: 18px;
  }

  .bg-service-1, .bg-service-2, .bg-service-3, .bg-service-4, .bg-service-5, .bg-service-6 {
    max-width: 80%;
  }

  #mapid {
    height: 200px;
  }

  .arrow {
    height: 80px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .blockquote-size {
    font-size: 70px !important;
  }

  .color-love {
    font-size: 70px !important;
  }

  .arrow {
    display: none;
  }

  .h5 {
    font-size: 16px;
  }

  .bg-service-1, .bg-service-2, .bg-service-3, .bg-service-4, .bg-service-5, .bg-service-6 {
    max-width: 100%;
  }

  .service .w-50 {
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    font-weight: bold;
  }

  #mapid {
    height: 150px;
  }

  .contact h2 {
    text-align: center;
  }

  .sm-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .blockquote-size {
    font-size: 40px !important;
  }

  .color-love {
    font-size: 40px !important;
  }

  .arrow {
    display: none;
  }

  .bg-service-1, .bg-service-2, .bg-service-3, .bg-service-4, .bg-service-5, .bg-service-6 {
    max-width: 100%;
  }

  .service .w-50 {
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    font-weight: bold;
  }

  .contact h2, .contact .adress, .contact .horraire {
    text-align: center;
    margin: auto;
  }
  .contact table {
    margin: auto;
  }
  .contact td {
    text-align: left;
  }
  .contact #mapid {
    height: 150px;
  }

  .sm-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
