#mapid { height: 500px;
 }

.contact{
    min-height: 550px ;
   color : white;
    
    border-left: 5px solid $pink;
    background-color: #3a3a3a;

  
      

    .jour{
    width:170px;
    text-transform : capitalize; 
    }
    
 
} 