$screen-lg-min: 992px;
$screen-md-min: 768px;
$screen-sm-min: 576px;

body{
    header{
        font-family: 'Montserrat Medium';
        
        nav{
            li{
                .nav-link{
                    &:hover{
                        color: $pink!important;
                    }
                }             
            }
        }
        .blockquote-size{
            font-size: 80px;
            font-family: 'Montserrat Regular';
            line-height: 5rem; 
        }
        .p-line-height{
            line-height: 2rem;
        }
    }
}

@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 @include lg{
    .blockquote-size{
        font-size:70px;
    }
    .h5{
        font-size:18px;
    }
 }

 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 @include md{
    .blockquote-size{
        font-size:60px;
    }
    .h5{
        font-size:16px;
    }
 }
 

 