header{
    .container-fluid{
        height: 40px;
        nav{
            
            button{
                &:focus{
                    outline: 1px
                }
            }
        }
    }
}
.navbar{
    position: absolute;
    width: 96%;
}