
.bg-black{
    background-color: $black;
    
}
.bg-img{
    background-color: white;
    -webkit-box-shadow: -36px -36px 0px 0px $pink-2;
    -moz-box-shadow: -36px -36px 0px 0px $pink-2;
    box-shadow: -36px -36px 0px 0px $pink-2;
}
.pink{
    color: $pink;
}
.bg-black{
    #ancre_pre{
        .btn{
            border: none;
            &:hover{
                border: none;
            }
            &:active{
                border: none;
                background-color: none;
                box-shadow: none;
            }
            &:focus{
                border: none;
                background-color: none;
                box-shadow: none;
            }
        }
        .btn-primary{
            &:active{
                background-color: $pink;
                color: black;
            }
        }
        
    }
}