
.bg-black{
    background-color: $black;
    
}
.bg-img{
    background-color: white;
    -webkit-box-shadow: -36px -36px 0px 0px $pink-2;
    -moz-box-shadow: -36px -36px 0px 0px $pink-2;
    box-shadow: -36px -36px 0px 0px $pink-2;
}
.pink{
    color: $pink;
}