// system bg

$bg-body: url(../media/bg-body.jpg);
$bg-header: url(../media/bg-header.jpg);
$bg-presentation: url(../media/bg-presentation.jpg);
$bg-service-1: url(../media/img-service1.jpg);
$bg-service-2: url(../media/img-service2.jpg);
$bg-service-3: url(../media/img-service3.jpg);
$bg-service-4: url(../media/img-service4.jpg);
$bg-service-5: url(../media/img-service5.jpg);
$bg-service-6: url(../media/img-service6.jpg);
$bg-contact: url(../media/bg-contact.jpg);


body{
    background-image: $bg-body;
}

header{
    background-image: $bg-header;
}

.bg-presentation{
    background-image: $bg-presentation;
}

.bg-service-1{
    background-image: $bg-service-1;
}

.bg-service-2{
    background-image: $bg-service-2;
}

.bg-service-3{
    background-image: $bg-service-3;
}

.bg-service-4{
    background-image: $bg-service-4;
}

.bg-service-5{
    background-image: $bg-service-5;
}

.bg-service-6{
    background-image: $bg-service-6;
}

.bg-contact{
    background-image: $bg-contact;
}